.navigation {
  &__checkbox {
    //non mostra la check originale
    display: none;
  }
  &__button {
    //pulsante
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    cursor: pointer;
    text-align: center;
  }
  &__background {
    //impostazioni di background  sfondo verde
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed; // simile ad absolute,ma quando scorriamo nella pagina l'elemento rimane fisso in quella posizione,spcifichiamo anche top bottom right left(in questo caso right xk lo vogliamo a destra)
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    ); //radial xk è tondo
    z-index: 1000;    //  transform: scale(80);
    transition: transform .8s cubic-bezier(0.86,0,0.07,1);// questa animazione serve per quando si clicca il menu e poi si riclicca per farlo scomparire


  }

  &__nav {
    //box nav
    height: 100vh;
    width: 0; //impostata per nascondere il menu
    position: fixed;
    top: 0; //potremmo anche ommetterli righe 35 e 36 in quanto la list viene centrata sotto dalla riga 41 alla 46
    left: 0;
    z-index: 1500;
    opacity: 0;//impostata per nascondere il menu
    transition: all .8s cubic-bezier(0.68,-0.55,0.265,1.55); 
  }

  &__list {
    // ul,vengono centrati al centro della pagina
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  &__item {
    //spazio tra gli item
    margin: 1rem;
  }
  &__link {
    // personalizzazione item (a)
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%; //lunghezza animazione ,se piu piccolo non la fa
      transition: all 0.4s; //richiama le animazioni

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,  //effetti hover
    &:active {
      background-position: 100%;
      color: $color-primary;
    }
  }
 /*servono per far si che schiacciando il pulsante del menu si avvii la schermata del menu stesso*/
  &__checkbox:checked ~ &__background {  //tilde vuol dire:applica le seguenti regole una volta premuta la check a tutti gli elementi di background,idem giu
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon{  //icona hamburger
    position: relative; 
    margin-top: 3.5rem;
    &,
    &::before,
    &::after{
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after{
      content:"";
      position: absolute;
      left: 0;
      transition: all .2s;
    } 

    &::before{top: -.8rem}
    &::after{top:.8rem}
  }

  &__button:hover &__icon::before{
    top:-1rem;
  }

  &__button:hover &__icon::after{
    top:1rem;
  }

//croce quando siamo nel menu
  &__checkbox:checked + &__button &__icon{ 
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before{ 
    top:0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after{ 
    top:0;
    transform: rotate(-135deg);
  }
}
