.story { //blocco 2 storie
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white,.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape { //riquadro immagine
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(
      50% at 50% 50%
    ); //come clip path ,solamente che permette di fare un cerchio
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem) skewX(12deg);
    position: relative;
  }

  &__img { //immagine
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text {  //testo
    transform: skewX(12deg);
  }
  &__caption { //didascalia foto
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity:1;
  }

  &:hover &__img{
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); //la proprieta filter permette di attivare dei filtri all'img. blur è la sfocatura, brightness la fa diventare piu scura
  }
}
